header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(76, 128, 233);
  color: #fff;
  min-height: 10vh;
}

header ul {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style-type: none;
}

header .btn{
  background-color: rgb(41, 40, 40);
  padding: .2em .6em;
}
