#root {
  margin: 0 auto;
  text-align: center;
}

main {
  min-height: 60vh;
}

li {
  list-style-type: none;
}

h1 {
  text-align: left;
}

h2.separator {
  text-align: left;
  background-color: rgb(41, 40, 40);
  color: #fff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

img {
  max-width: 100%;
}

.separator {
  padding: 0 5rem;
}

.info {
  margin-top: 1em;
  margin-bottom: 1em;
}
